body {
  background: pink;
}

h1 {
  color: blue;
  font_size: 3em 'Elsie Swash Caps', cursive;
}

h2 {
  color: green;
  font-weight: normal
  font-style: italic;
}


.completed {
  backgound: #ccc;
  text-decoration: underline;
  font-family: 12px;
}
